Repository kdl9405/backend_Study, pull requests merged in 2021-04, with the labels that each got.

#30 [#14]API란 무엇인지, Http API와 REST API에 대해서 설명해주세요
  Network/[#14]API란 무엇인지, Http API와 REST API에 대해서 설명해주세요.md
Labels: network, web

#35 [#15]절차지향과 객체지향을 비교 설명해주세요
  OOP/[#15]절차지향과 객체지향을 비교 설명해주세요.md
Labels: OOP

#28 [#10]RDB의 Like 쿼리를 실무에서 썼을 때는 어떤 점이 문제가 될 수 있을까요
  Database/1.md
  Database/[#10]RDB의 Like 쿼리를 실무에서 썼을 때는 어떤 점이 문제가 될 수 있을까요.md
Labels: database

#31 [#21]3-way-handshake와 4-way-handshake에 대해서 설명해주세요
  Network/[#21]3-way-handshake와 4-way-handshake에 대해서 설명해주세요.md
Labels: network

#32 [#18]Graph와 Tree에 대해서 설명해주세요
  Algorithm_Data_Structure/[#18]Graph와 Tree에 대해서 설명해주세요.md
Labels: algorithm, data structure

#38 [#22]SQL injection에 대해서 말해주세요
  Database/[#22]SQL injection에 대해서 말해주세요.md
Labels: database, network, web

#36 [19]멀티 프로세스와 멀티 쓰레드에 대해서 말해주세요
  OS/[19]멀티 프로세스와 멀티 쓰레드에 대해서 말해주세요.md
Labels: OS

#33 [#17]Spring이란 무엇인가요
  Spring/[#17]Spring이란 무엇인가요.md
Labels: spring
