Repository kdl9405/backend_Study, pull requests merged in 2021-05, with the labels that each got.

#50 [#49]Index와 Primary Key의 차이점을 설명할 수 있나요
  Database/[#49]Index와 Primary Key의 차이점을 설명할 수 있나요.md
Labels: database

#52 [#51]정규화를 왜 하나요
  Database/[#51]정규화를 왜 하나요.md
Labels: database

#29 [#7]public static void main(String[] args)를 쓰는 이유를 말해주세요
  Java/[#7]public static void main(String[] args)를 쓰는 이유를 말해주세요.md
Labels: java

#25 [#5]db에서의 인덱스에 대해 설명해주세요
  Database/[#5]db에서의 인덱스에 대해 설명해주세요
Labels: database

#61 [#60]List, Set, Map에 대해서 말해주세요
  Algorithm_Data_Structure/[#60]List, Set, Map에 대해서 말해주세요.md
Labels: data structure, java

#39 [#4]hashCode와 Equals를 쓸 때의 주의점에 대해 알려주세요
  Java/[#4]hashCode와 Equals를 쓸 때의 주의점에 대해 알려주세요.md
Labels: java

#74 [#43]좋은 객체 지향 프로그래밍이란 무엇일까요
  OOP/[#43]좋은 객체 지향 프로그래밍이란 무엇일까요.md
Labels: OOP
